@{
    ViewBag.Title = "About";
}
<h2>Quem Somos</h2>

<p>
    A Pim Mercado CryptoMoedas em 2020 veio para ser uma das maiores empresas de criptomoedas do Brasil. Sediada no Vale do Silício, na Califórnia, quer revolucionar o mercado financeiro brasileiro.
</p>
<p>
    Por meio da tecnologia, entrega agilidade, transparência, liquidez e segurança para os seus clientes, proporcionando a melhor experiência para negociar bitcoin, ethereum (ether) e litecoin no Brasil. Nossa visão é simplificar, para que nossos clientes realizem seus sonhos.
</p>

