@{
    ViewBag.Title = "Contato Com Mercado Crypto Moedas"; 
}
<h2>@ViewBag.Title</h2>
<h3>Endereço</h3>

<address>
    Silicon Valley<br />
    CA,  37° 23′ 0″ N, 122° 2′ 0″ W<br />
    SAC: 425.555.0100
</address>

<h3>Email para Suporte</h3>
<address>
    <a href="PimMercadoCryptoMoedas@outlook.com.br">PimMercadoCryptoMoedas@outlook.com.br</a><br />
</address>