@{
    ViewBag.Title = "CryptoMoedas";
}


        <h2>O que é uma criptomoeda?</h2>
        <p>
            As criptomoedas nada mais são do que moedas virtuais, utilizadas para a realização de pagamentos em transações comerciais. Ou seja, possuem a mesma função de comprar mercadorias e serviços que as moedas já conhecidas por nós, como o Real e o Dólar.
        </p>

            <h2>Como funciona a variação de preço?</h2>
            <p>
                Basicamente, o preço das moedas digitais varia segundo a boa e velha lei da oferta e da demanda. Nas épocas em que as criptomoedas ganham mais atenção, é normal que elas sejam mais procuradas pelos investidores, o que amplia o volume de compras – e consequentemente, os preços tendem a subir.
            </p>
            <p>
                Por ser um mercado ainda pequeno, poucas operações com criptomoedas são capazes de causar um impacto relevante nas cotações. Em um período de apenas três meses em 2017, por exemplo, o preço do Bitcoin saltou de cerca de US$ 4.370 para US$ 13.800. Pouco mais de um ano depois, já havia recuado novamente para US$ 3.500. As cotações, como se vê, podem ser bastante voláteis
            </p>
