@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Pim Mercado CryptoMoedas</h1>
    <p class="lead">Visite nossa Página no Instragram e fique por dentro das novidades do Mercado de Cripto Moedas.</p>
    <p><a target="_blank" href="https://www.instagram.com/pimmercadocryptomoedas/" class="btn btn-primary btn-lg">Saber mais &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <img src="~/images/pim2.jpg" />
    </div>
    <div class="col-md-4">
        <img src="~/images/pim4.jpg" />
    </div>
    <div class="col-md-4">
        <img src="~/images/pim3.jpg" />
    </div>
</div>